.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu a{
  color: white;
}

.App-link {
  color: #bfd0d5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: antiquewhite;
  color: #282c34;
  width: 100px;
  height: 50px;
  border-radius: 6px;
}
.customBtn {
  padding: 5px 10px;
  background-color: black;
  color: white;
  height: 30px;
}
.Click {
  background-color: brown;
  color: white;
}
.Counter {
  height: 25vh;
}
.TodoApp {
  color: white;
}
.completed {
  text-decoration: line-through;
}
.productsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.ProductBox {
  background-color: antiquewhite;
  color: #282c34;
  border-radius: 6px;
}